In [1]:
import numpy as np
import pandas as pd

In [2]:
sozluk = {"Kategori": ["Giyim","Giyim", "Ayakkabı","Aksesuar","Ayakkabı","Giyim","Aksesuar","Aksesuar","Ayakkabı","Giyim"],


  "Ürün" : ["Kazak","T-shirt","Sandalet","Küpe","Spor Ayakkabı","Pantolon","Kolye","Yüzük","Çizme","Ceket"],


"Fiyat" : [300,180,450,50,700,400,150,80,850,900]}

In [4]:
#Yukarıdaki sözlük DataFrame’e dönüştürülür. 
df = pd.DataFrame(sozluk)
df

   Kategori           Ürün  Fiyat
0     Giyim          Kazak    300
1     Giyim        T-shirt    180
2  Ayakkabı       Sandalet    450
3  Aksesuar           Küpe     50
4  Ayakkabı  Spor Ayakkabı    700
5     Giyim       Pantolon    400
6  Aksesuar          Kolye    150
7  Aksesuar          Yüzük     80
8  Ayakkabı          Çizme    850
9     Giyim          Ceket    900

### Yukarıdaki DataFrame için:
##### 2.indexte bulunan kategori bulunur. (Sadece kategori bilgisi) 
##### 2. indexte bulunan ürün bulunur. (Sadece ürün bilgisi) 
##### 4.indexten 9.indexe kadar olan veriler bulunur. (Kategori,ürün,fiyat bilgisi beraber) 
##### 1.indexten 6.indexe kadar olan ürünler bulunur. (Sadece ürün bilgisi)

In [10]:
df["Kategori"].loc[2]

'Ayakkabı'

In [11]:
df["Ürün"].loc[2]

'Sandalet'

In [17]:
df.iloc[4:9]

   Kategori           Ürün  Fiyat
4  Ayakkabı  Spor Ayakkabı    700
5     Giyim       Pantolon    400
6  Aksesuar          Kolye    150
7  Aksesuar          Yüzük     80
8  Ayakkabı          Çizme    850

In [18]:
df[["Ürün"]].iloc[1:6]

            Ürün
1        T-shirt
2       Sandalet
3           Küpe
4  Spor Ayakkabı
5       Pantolon

### Yukarıdaki DataFrame için:
##### Giyim kategorisinde bulunan ürünler gösterilir. 
##### Ayakkabı kategorisinde bulunan ürünler gösterilir. 
##### Aksesuar kategorisinde bulunan ürünler gösterilir.

In [19]:
df

   Kategori           Ürün  Fiyat
0     Giyim          Kazak    300
1     Giyim        T-shirt    180
2  Ayakkabı       Sandalet    450
3  Aksesuar           Küpe     50
4  Ayakkabı  Spor Ayakkabı    700
5     Giyim       Pantolon    400
6  Aksesuar          Kolye    150
7  Aksesuar          Yüzük     80
8  Ayakkabı          Çizme    850
9     Giyim          Ceket    900

In [37]:
df[["Ürün"]][df["Kategori"]=="Giyim"]

       Ürün
0     Kazak
1   T-shirt
5  Pantolon
9     Ceket

In [36]:
df[["Ürün"]][df["Kategori"]=="Ayakkabı"]

            Ürün
2       Sandalet
4  Spor Ayakkabı
8          Çizme

In [38]:
df[["Ürün"]][df["Kategori"]=="Aksesuar"]

    Ürün
3   Küpe
6  Kolye
7  Yüzük

###  Yukarıdaki DataFrame için 
##### Giyim kategorisinde fiyatı 300'den fazla olan ürünler gösterilir. 
##### Ayakkabı kategorisinde fiyatı 600'den az olan ürünler gösterilir. 
##### Aksesuar kategorisinde fiyatı 100'den fazla olan aksesuar gösterilir.

In [35]:
df

   Kategori           Ürün  Fiyat
0     Giyim          Kazak    300
1     Giyim        T-shirt    180
2  Ayakkabı       Sandalet    450
3  Aksesuar           Küpe     50
4  Ayakkabı  Spor Ayakkabı    700
5     Giyim       Pantolon    400
6  Aksesuar          Kolye    150
7  Aksesuar          Yüzük     80
8  Ayakkabı          Çizme    850
9     Giyim          Ceket    900

In [40]:
df[["Ürün"]][(df["Kategori"]=="Giyim") & (df["Fiyat"] > 300)]

       Ürün
5  Pantolon
9     Ceket

In [42]:
df[["Ürün"]][(df["Kategori"]=="Ayakkabı") & (df["Fiyat"] < 600)]

       Ürün
2  Sandalet

In [43]:
df[["Ürün"]][(df["Kategori"]=="Aksesuar") & (df["Fiyat"] > 100)]

    Ürün
6  Kolye